.bIg{
    font-family: Impact;
    width: 90px;
}

.nAme{
    color: rgb(163, 87, 0);
}

.body{
    background-color: #006BA1;

}

.ps{
    background-color: #02496c;
}

.pap{
    background-color: rgb(74, 74, 74);
    color: rgb(0, 0, 0);
}

.highLight{
    color: rgb(153, 155, 193);
}

